---

---

<a href="/" class="hover:opacity-80">Home</a>
<a href="/about/" class="hover:opacity-80">About</a>
<a href="/blog/" class="hover:opacity-80">Blog</a>
<a href="/tags/" class="hover:opacity-80">Tags</a>